## 0.1 Proccessing data - Data Analysis

### Libraries

In [121]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

##### Seleccionar current root

In [120]:
import sys
sys.path.append("..")

##### Project use libraries

In [12]:
import colombia_jobs.utils.paths as path
import pandas as pd

### Process data

#### Read data

In [4]:
input_colombia_jobs_file = path.data_raw_dir("conjunto-mercado-laboral-bogota-31012024.xlsx")
input_colombia_jobs_file

PosixPath('/home/angello_trivino/data-science/colombia_jobs/data/raw/conjunto-mercado-laboral-bogota-31012024.xlsx')

In [104]:
colombia_jobs_df = pd.read_excel(input_colombia_jobs_file, sheet_name="Mercado laboral Bogotá")
colombia_jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Periodo                                   201 non-null    object
 1   Trimestre                                 201 non-null    object
 2   Trimestre móvil cronológico               201 non-null    int64
 3   Poblacion total GEIH DANE                 201 non-null    float64
 4   Poblacion en edad de trabajar             201 non-null    float64
 5   Fuerza de trabajo                         201 non-null    float64
 6   Ocupados                                  201 non-null    float64
 7   Desocupados                               201 non-null    float64
 8   Poblacion fuera de la fuerza laboral      201 non-null    float64
 9   Subocupados                               201 non-null    float64
 10  Fuerza de trabajo potencial               201 non-null    float64
 11  Ocupados  asalariados                     201 non-null    float64
 12  Ocupados no asalariados                   201 non-null    float64
 13  Total informales DANE                     201 non-null    object
 14  Porcentaje poblacion en edad de trabajar  201 non-null    float64
 15  Tasa global de participacion              201 non-null    float64
 16  Tasa de ocupacion                         201 non-null    float64
 17  Tasa de desocupacion                      201 non-null    float64
 18  Tasa de subocupados                       201 non-null    float64
 19  Tasa ocupados asalariados                 201 non-null    float64
 20  Tasa ocupados  no asalariados             201 non-null    float64
 21  Tasa fuerza potencial de trabajo          201 non-null    float64
 22  Tasa  de informalidad DANE                201 non-null    object
dtypes: float64(18), int64(1), object(4)
memory usage: 36.2+ KB

In [105]:
colombia_jobs_df.head()

,Periodo,Trimestre,Trimestre móvil cronológico,Poblacion total GEIH DANE,Poblacion en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,Poblacion fuera de la fuerza laboral,Subocupados,...,Total informales DANE,Porcentaje poblacion en edad de trabajar,Tasa global de participacion,Tasa de ocupacion,Tasa de desocupacion,Tasa de subocupados,Tasa ocupados asalariados,Tasa ocupados no asalariados,Tasa fuerza potencial de trabajo,Tasa de informalidad DANE
0,2007,ene mar,1,6.837429e+06,4.964137e+06,3.397222e+06,3.009233e+06,387988.483593,1.566915e+06,275392.695287,...,-,72.602391,68.435297,60.619467,11.420759,8.106409,0.0,0.0,31.564703,-
1,2007,feb abr,2,6.844115e+06,4.973209e+06,3.380501e+06,3.032565e+06,347935.588487,1.592708e+06,313027.353147,...,-,72.664022,67.974238,60.978039,10.292427,9.259792,0.0,0.0,32.025762,-
2,2007,mar may,3,6.850670e+06,4.982164e+06,3.403165e+06,3.045075e+06,358089.844173,1.579000e+06,308392.091160,...,-,72.725216,68.306954,61.119519,10.522260,9.061921,0.0,0.0,31.693046,-
3,2007,abr jun,4,6.857390e+06,4.991404e+06,3.427483e+06,3.061722e+06,365760.960640,1.563921e+06,315953.083610,...,-,72.788677,68.667719,61.339902,10.671416,9.218225,0.0,0.0,31.332281,-
4,2007,may jul,5,6.863981e+06,5.000522e+06,3.451183e+06,3.063206e+06,387977.488360,1.549339e+06,320213.166360,...,-,72.851626,69.016455,61.257716,11.241869,9.278359,0.0,0.0,30.983545,-

In [98]:
len(colombia_jobs_df)

201

#### Cast columns to typedata

In [106]:
colombia_jobs_df[colombia_jobs_df['Periodo'].str.len() > 4].head()

,Periodo,Trimestre,Trimestre móvil cronológico,Poblacion total GEIH DANE,Poblacion en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,Poblacion fuera de la fuerza laboral,Subocupados,...,Total informales DANE,Porcentaje poblacion en edad de trabajar,Tasa global de participacion,Tasa de ocupacion,Tasa de desocupacion,Tasa de subocupados,Tasa ocupados asalariados,Tasa ocupados no asalariados,Tasa fuerza potencial de trabajo,Tasa de informalidad DANE
10,2007 - 2008,nov ene,11,6.902741e+06,5.055290e+06,3.464000e+06,3.139539e+06,324461.322997,1.591290e+06,408116.101537,...,-,73.235980,68.522281,62.104027,9.366666,11.781643,0.0,0.0,31.477719,-
11,2007 - 2008,dic feb,12,6.909039e+06,5.064380e+06,3.513198e+06,3.132242e+06,380955.624627,1.551182e+06,433554.625443,...,-,73.300779,69.370745,61.848488,10.843557,12.340740,0.0,0.0,30.629255,-
22,2008 - 2009,nov ene,11,6.975624e+06,5.163762e+06,3.544670e+06,3.188747e+06,355923.268920,1.619092e+06,411127.819110,...,-,74.025806,68.645111,61.752398,10.041084,11.598480,0.0,0.0,31.354889,-
23,2008 - 2009,dic feb,12,6.981529e+06,5.172882e+06,3.621004e+06,3.208241e+06,412763.121090,1.551878e+06,392535.665580,...,-,74.093831,69.999746,62.020382,11.399133,10.840519,0.0,0.0,30.000254,-
34,2009 - 2010,nov ene,11,7.043759e+06,5.272629e+06,3.822238e+06,3.349097e+06,473141.361693,1.450392e+06,422391.435793,...,-,74.855338,72.492063,63.518532,12.378648,11.050893,0.0,0.0,27.507937,-

In [55]:
colombia_jobs_df['Periodo'].unique()

array([2007, '2007 - 2008', 2008, '2008 - 2009', 2009, '2009 - 2010',
       2010, '2010 - 2011', 2011, '2011 - 2012', 2012, '2012 - 2013',
       2013, '2013 - 2014', 2014, '2014 - 2015', 2015, '2015 - 2016',
       2016, '2016 - 2017', 2017, '2017 - 2018', 2018, '2018 - 2019',
       2019, '2019 - 2020', 2020, '2020 - 2021', 2021, '2021 - 2022',
       2022, '2022 - 2023', 2023], dtype=object)

##### Add New Column Year -> Anio

In [107]:
colombia_jobs_df.insert(0, 'Anio', colombia_jobs_df['Periodo']
                        .astype(str).str[:4].astype('Int32'))
colombia_jobs_df.head()

,Anio,Periodo,Trimestre,Trimestre móvil cronológico,Poblacion total GEIH DANE,Poblacion en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,Poblacion fuera de la fuerza laboral,...,Total informales DANE,Porcentaje poblacion en edad de trabajar,Tasa global de participacion,Tasa de ocupacion,Tasa de desocupacion,Tasa de subocupados,Tasa ocupados asalariados,Tasa ocupados no asalariados,Tasa fuerza potencial de trabajo,Tasa de informalidad DANE
0,2007,2007,ene mar,1,6.837429e+06,4.964137e+06,3.397222e+06,3.009233e+06,387988.483593,1.566915e+06,...,-,72.602391,68.435297,60.619467,11.420759,8.106409,0.0,0.0,31.564703,-
1,2007,2007,feb abr,2,6.844115e+06,4.973209e+06,3.380501e+06,3.032565e+06,347935.588487,1.592708e+06,...,-,72.664022,67.974238,60.978039,10.292427,9.259792,0.0,0.0,32.025762,-
2,2007,2007,mar may,3,6.850670e+06,4.982164e+06,3.403165e+06,3.045075e+06,358089.844173,1.579000e+06,...,-,72.725216,68.306954,61.119519,10.522260,9.061921,0.0,0.0,31.693046,-
3,2007,2007,abr jun,4,6.857390e+06,4.991404e+06,3.427483e+06,3.061722e+06,365760.960640,1.563921e+06,...,-,72.788677,68.667719,61.339902,10.671416,9.218225,0.0,0.0,31.332281,-
4,2007,2007,may jul,5,6.863981e+06,5.000522e+06,3.451183e+06,3.063206e+06,387977.488360,1.549339e+06,...,-,72.851626,69.016455,61.257716,11.241869,9.278359,0.0,0.0,30.983545,-

##### Add New Column 'Fecha'

In [108]:
colombia_jobs_df.insert(0, 'Fecha', (colombia_jobs_df['Anio'].astype(str) + '-' + colombia_jobs_df['Trimestre móvil cronológico'].astype(str) + '-1').astype('datetime64[us]'))
colombia_jobs_df.head()

,Fecha,Anio,Periodo,Trimestre,Trimestre móvil cronológico,Poblacion total GEIH DANE,Poblacion en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,...,Total informales DANE,Porcentaje poblacion en edad de trabajar,Tasa global de participacion,Tasa de ocupacion,Tasa de desocupacion,Tasa de subocupados,Tasa ocupados asalariados,Tasa ocupados no asalariados,Tasa fuerza potencial de trabajo,Tasa de informalidad DANE
0,2007-01-01,2007,2007,ene mar,1,6.837429e+06,4.964137e+06,3.397222e+06,3.009233e+06,387988.483593,...,-,72.602391,68.435297,60.619467,11.420759,8.106409,0.0,0.0,31.564703,-
1,2007-02-01,2007,2007,feb abr,2,6.844115e+06,4.973209e+06,3.380501e+06,3.032565e+06,347935.588487,...,-,72.664022,67.974238,60.978039,10.292427,9.259792,0.0,0.0,32.025762,-
2,2007-03-01,2007,2007,mar may,3,6.850670e+06,4.982164e+06,3.403165e+06,3.045075e+06,358089.844173,...,-,72.725216,68.306954,61.119519,10.522260,9.061921,0.0,0.0,31.693046,-
3,2007-04-01,2007,2007,abr jun,4,6.857390e+06,4.991404e+06,3.427483e+06,3.061722e+06,365760.960640,...,-,72.788677,68.667719,61.339902,10.671416,9.218225,0.0,0.0,31.332281,-
4,2007-05-01,2007,2007,may jul,5,6.863981e+06,5.000522e+06,3.451183e+06,3.063206e+06,387977.488360,...,-,72.851626,69.016455,61.257716,11.241869,9.278359,0.0,0.0,30.983545,-

##### Convert to Float64 Columns: Tasa de Infromalidad y Totales Informales

In [110]:
condicion = colombia_jobs_df['Tasa  de informalidad DANE '] == '-'
colombia_jobs_df.loc[condicion, 'Tasa  de informalidad DANE '] = 0
colombia_jobs_df['Tasa  de informalidad DANE '] = colombia_jobs_df['Tasa  de informalidad DANE '].astype('Float64')

In [113]:
condicion_2 = colombia_jobs_df['Total informales DANE '] == '-'
colombia_jobs_df.loc[condicion_2, 'Total informales DANE '] = 0
colombia_jobs_df['Total informales DANE '] = colombia_jobs_df['Total informales DANE '].astype('Float64')

In [117]:
col_jobs_final_df = colombia_jobs_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Fecha                                     201 non-null    datetime64[us]
 1   Anio                                      201 non-null    Int32
 2   Periodo                                   201 non-null    object
 3   Trimestre                                 201 non-null    object
 4   Trimestre móvil cronológico               201 non-null    int64
 5   Poblacion total GEIH DANE                 201 non-null    float64
 6   Poblacion en edad de trabajar             201 non-null    float64
 7   Fuerza de trabajo                         201 non-null    float64
 8   Ocupados                                  201 non-null    float64
 9   Desocupados                               201 non-null    float64
 10  Poblacion fuera de la fuerza laboral      201 non-null    float64
 11  Subocupados                               201 non-null    float64
 12  Fuerza de trabajo potencial               201 non-null    float64
 13  Ocupados  asalariados                     201 non-null    float64
 14  Ocupados no asalariados                   201 non-null    float64
 15  Total informales DANE                     201 non-null    Float64
 16  Porcentaje poblacion en edad de trabajar  201 non-null    float64
 17  Tasa global de participacion              201 non-null    float64
 18  Tasa de ocupacion                         201 non-null    float64
 19  Tasa de desocupacion                      201 non-null    float64
 20  Tasa de subocupados                       201 non-null    float64
 21  Tasa ocupados asalariados                 201 non-null    float64
 22  Tasa ocupados  no asalariados             201 non-null    float64
 23  Tasa fuerza potencial de trabajo          201 non-null    float64
 24  Tasa  de informalidad DANE                201 non-null    Float64
dtypes: Float64(2), Int32(1), datetime64[us](1), float64(18), int64(1), object(2)
memory usage: 39.2+ KB

##### Save output data

In [118]:
output_col_jobs_file = path.data_processed_dir("conjunto-mercado-laboral-bogota-31012024_processed.csv")

In [119]:
col_jobs_final_df.to_csv(output_col_jobs_file, index=False)